*{
	padding: 0px;
	margin: 0px;
}
#container{
	background-color: #d4d2d2;
	min-height: 1000px;
	width: 1258px;
	padding: 10px;
}
#maintext{
     /*margin: 30px;*/
}
.text{
	font-family: Comic Sans MS;
	display: inline-block;
	color: black;
	position: absolute;
	top: 7px;
	left: 66px;
}
.mastertext{
	font-family: sans-serif;
	display: inline-block;
	margin: 10px;
	position: absolute;
	left: 850px;
	top: 5px;
	font-size: 15px
}
.first{
	position: absolute;
	left: 15px;
	top: 10px;
}
#mainpage{
	background: radial-gradient(#9c27b052, #0e0602fa);
	position: absolute;
	top: 50px;
	left: 0px;
	min-height: 1000px;
	width: 1280px;

}
.myphoto{
	/*background-image: url('photo_of_me.jpg');*/
	position: absolute;
	left: 50px;
	top: 30px;
	height: 280px;
	width: 500px;
	/*border-color: white;*/
	border: solid;
	border-color: white;
	border-width: 6px;
}
div .mastertext h3{
	color: black;
}
h3{
	color: white;
	padding: 8px;
	font-family: Arial;
}
.about{
	background-color: #f0eaf1;
	height: 291px;
	width: 630px;
	position: absolute;
	left: 580px;
	top: 30px;
}
.aboutBar{
	background: radial-gradient(#0e06024a, #0e060280); 
    height: 40px;
    width: 630px;
}
p{
	padding: 5px;
	color: #55575dfc;
	font-family: Times;
	margin: 3px;
	text-align: justify;
}
a, p a{
	color: #55575dfc;
	padding: 10px;

}
.content{
	position: absolute;
	left: 50px;
	top: 350px;
	/*border: solid black;*/
	width: 1175px;
	height: 644px;

}
.box1, .box2, .box3{
	display: inline-block;
	height: 620px;
	width: 373px;
	margin-right: 16px;
	/*margin: 10px;*/
	/*border: solid;*/
	background-color: #f0eaf1;
	vertical-align: top;
}
.lamode,.family,.fiveeleven{
	background: radial-gradient(#0e06024a, #0e060280); 
    height: 40px;
    width: 373px;
}
.lamodeImage{
	height: 200px;
	width: 373px;
}
.lamodetext{
	background-color: #f0eaf1;
	height: 10px;
}
.techbar{
	display: inline-block;
    height: 40px;
    width: 373px;
	margin-right: 16px;
	/*margin: 10px;*/
	/*border: solid;*/
	background: radial-gradient(#0e06024a, #0e060280); 
	position: absolute;
	left:0px;
	top: 380px;
	}
.technology{
	background-color: #f0eaf1;
	height: 10px;
}
.techImage{
	padding: 5px;
	margin: 5px;
	height: 50px;
	width: 50px;
}
.techbar2{
	display: inline-block;
    height: 40px;
    width: 373px;
	margin-right: 16px;
	/*margin: 10px;*/
	/*border: solid;*/
	background: radial-gradient(#0e06024a, #0e060280); 
	position: absolute;
	left:393px;
	top: 380px;
}
.techbar3{
	display: inline-block;
    height: 40px;
    width: 373px;
	margin-right: 16px;
	/*margin: 10px;*/
	/*border: solid;*/
	background: radial-gradient(#0e06024a, #0e060280); 
	position: absolute;
	left:786px;
	top: 380px;
}
.glass{
	/* background styles */
	position: absolute;
	left: 145px;
	top: 190px;
	display: inline-block;
	padding: 10px 10px;
	background-color: #4b6f4b;
	background-image: linear-gradient(#4b6f4b,#4b6f4b);
    box-shadow: 5px 5px 5px #888888;
    border: solid black;
    border-width: 1px;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bold;
	border-radius: 10px;
	font-style: bold;

}
.footer{
	position: absolute;
	top: 995px;
	left: 510px;
	color: #f0eaf1;
	display: inline-block;
	width: 800px;
	/*border: solid black;*/

}
.footer_1{
/*	position: absolute;
	left: 500px;
	top: 800px;*/
/*	padding: 5px;
	margin: 5px;*/
	height: 30px;
	width: 30px;
	/*display: inline-block;*/
}
.footertab{
	position: absolute;
	left: 400px;
	top: 1025px;
	/*border:solid black;*/
	width: 500px;
	/*background-color: yellow;*/
}
.footertext{
	font-style: italic;
	padding: 10px;
}


